* {
	box-sizing: border-box;
	font-family: sans-serif;
}

@font-face {
	font-family: 'clock';
	src: url('fonts/clock.ttf');
	font-weight: 500;
	font-style: normal;
}

html, body {
	height: 100%;
	margin: 0;
	background: #222;
	color: #666;
}

header {
	z-index: 2;
	position: absolute;
	display: flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0, .5);
	font-size: 1.25em;
	font-family: "Open Sans", sans-serif;
}

header > section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header > section > div {
	margin: 0 auto 48px;
	width: 90%;
}

#success {
	margin-left: 10%;
	width: 700px;
	background-color: rgba(0,0,0, .6);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-size: 3.38em;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	color: white;
}

header label {
	display: block;
	margin: 24px 0 6px;
}

header input {
	margin-top: 10px;
	padding: 2px 20px;
	border-radius: 8px;
	border: 0;
	font-size: 4em;
	width: 72%;
	box-shadow: 0 0 10px rgba(0,0,0, 1);
	background-color: rgba(255,255,255, .75);
	outline: none;
}

header input:focus {
	background-color: white;
}

header button {
	margin-top: 10px;
	padding: 25px 0;
	display: block;
	width: 26%;
	font-size: 1.5em;
	border: 0;
	border-radius: 8px;
	float: right;
	background-color: #990000;
	box-shadow: 0 0 10px rgba(0,0,0, 1);
	outline: none;
	color: white;
}

header button:focus {
	background-color: #dd0000;
}

#wrong {
	margin-top: 10px;
	padding: 8px;
	background-color: #990000;
	border-radius: 8px;
	color: white;
	text-align: center;
	font-size: 1.25em;
	box-shadow: 0 0 10px rgba(0,0,0, .5);

	-webkit-animation: glow 2s infinite;
	-moz-animation: glow 2s infinite;
}

header .toggle {
	position: fixed;
	right: 12px;
	bottom: 12px;
	width: 20px;
	height: 20px;
	border-radius: 12px;
	background-color: rgba(255,255,255, .1);
	border: 5px solid rgba(0,0,0, .5);
}

.main-wrapper {
	z-index: 0;
	position: absolute;
	display: flex;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#counter {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 0;
	width: 100%;
	font-size: 46em;
	text-align: center;
	font-family: 'clock' !important;
	color: #dd0000;
	text-shadow: 0 0 24px rgba(223, 62, 62, 0.5);
	-webkit-user-select: none;
	cursor: pointer;
}

#matrix {
	display: none;
	background-color: #000;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.pulse {
    -webkit-animation: pulse .5s infinite alternate;
}

@media screen and (max-width: 1920px) { #counter { font-size: 40em; }}
@media screen and (max-width: 1720px) { #counter { font-size: 34em; }}
@media screen and (max-width: 1500px) { #counter { font-size: 30em; }}
@media screen and (max-width: 1300px) { #counter { font-size: 26em; }}
@media screen and (max-width: 1120px) { #counter { font-size: 22em; }}
@media screen and (max-width: 960px)  { #counter { font-size: 20em; }}
@media screen and (max-width: 890px)  { #counter { font-size: 16em; }}
@media screen and (max-width: 802px)  { #counter { font-size: 20em; }}
@media screen and (max-width: 680px)  { #counter { font-size: 12em; }}
@media screen and (max-width: 520px)  { #counter { font-size: 8em; }}
@media screen and (max-width: 399px)  { #counter { font-size: 6em; }}

@media screen and (max-width: 1120px) {
	header { font-size: 1em; }
	#counter { text-shadow: 0 0 12px rgba(223, 62, 62, 0.5); }
}

@keyframes glow {
    0% { opacity: 1; background-color: #aa0000; }
    50% { opacity: .5; background-color: #770000; }
    100% { opacity: 1; background-color: #aa0000; }
}

@-webkit-keyframes glow {
    0% { opacity: 1; background-color: #aa0000; }
    50% { opacity: .5; background-color: #770000; }
    100% { opacity: 1; background-color: #aa0000; }
}

@-moz-keyframes glow {
    0% { opacity: 1; background-color: #aa0000; }
    50% { opacity: .5; background-color: #770000; }
    100% { opacity: 1; background-color: #aa0000; }
}

@keyframes pulse {
	to { text-shadow: 0 0 20px #00FF00; }
}

@-webkit-keyframes pulse {
    to { text-shadow: 0 0 20px #00FF00; }
}

@-moz-keyframes pulse {
    to { text-shadow: 0 0 20px #00FF00; }
}
